:root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    /* màu đọc chữ đỡ mỏi mắt */
    --text-color:   #333;
    --border-color: #dbdbdb;
    --header-height: 120px;
    --navar-height: 41px;
    --start-color: #f5e106;
    --header-with-search-height: calc( var(--header-height) - var(--navar-height))
    
}

*{
    /* Thuộc tính inherit kế thừa từ cha của nó ( thẻ html) */
    box-sizing: inherit;

}

html{
    /* cứ 1 rem tương ứng với 10px(dễ quy đổi) -- 100% tương ứng với 1.6rem */
    font-size: 62.5%;
    /* khi padding,border sẽ không làm thay đổi kích thước mặc định */
    box-sizing: border-box;
    /* (tương ứng 16px) */
    line-height: 1.6rem;
    /* font chữ không chân */
    font-family: 'Roboto', sans-serif;

}

/* Chuẩn bị cho responsive */

.grid {
    width: 1200px;
    /* khi kích thước nhỏ hơn 1200px thì tự động thành 100% kích thước mặt định */
    max-width: 100%;
    /* căn giữa khối này khi nằm trong khối khác */
    margin: 0 auto;
}

.grid__row{
    /* chuyển các khối nằm ngang */
    display: flex;
    /* khi các khối vượt qua tự động nhảy xuống hàng */
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;

}

/* Test */
.grid__column-2{
    /* khoảng cách giữa các cột tự động căn chỉnh là 24px */
    padding-left: 5px;
    padding-right: 5px;
    /* 2 cột chia cho 12 nhân 100 */
    width: 16.6667%;

}

.grid__column-2-4{
    /* khoảng cách giữa các cột tự động căn chỉnh là 24px */
    padding: 5px;

    
    /* 2 cột chia cho 10 nhân 100 */
    width: 20%;

}

.grid__column-10{
     /* khoảng cách giữa các cột tự động căn chỉnh là 24px */
    padding-left: 5px;
    padding-right: 5px;
    /* 2 cột chia cho 12 nhân 100 */
    width: 83.3334%;

}



/* amination  */

@keyframes fadIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

/* keyframes theo dạng gán biến -- có thể thay đổi giá trị khi mình muốn thay đổi
    scale -- phóng lên */
@keyframes growth {
    from{
        transform:  scale(var(--growth-from));
    }
    to{
        transform:  scale(var(--growth-to));
    }
}

/* button btn style */
.btn{
    min-width: 120px;
    height: 32px;
    background-color: var(--white-color);
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 4px 10px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    line-height: 1.4rem;
    
}
.btn-size-s{
    height: 30px;
    padding: 6px 20px;
}
.btn.btn--normal:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

/* Chỉ những thuộc tính có cả 2 class với add vào */
.btn.btn--primary{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--disable{
    cursor: default;
    color: #949494;
    background-color: #c3c3c3;
}

/* Form input */

.home-select-input{
    min-width: 200px;
    background-color: var(--white-color);
    height: 32px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    position: relative;
    z-index: 1;
    
}

.home-select-input:hover .select-input__list{
    display: block;
}

/* cầu nối */
.select-input__list::after{
    content: "";
    position: absolute;
    border-width: 10px 100px;
    border-style: solid;
    border-color: transparent;
    top: -11px;
    right: 0px;
}



.home-select-icon{
    font-size: 1rem;
    color: #8b8383;
    font-weight: 700;
    
}

.select-input__list{
    position: absolute;
    left: 0;
    right: 0;
    top:calc(100% - 7px);
    background-color: var(--white-color);
    list-style: none;
    padding-left: 0;
    display: none;


}



.select-input__item{
    padding: 8px 14px;
}

.select-input__item:first-child{
    padding-top: 14px;
}


.select-input__item:last-child{
    padding-bottom: 14px;
}

.select-input__link{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 400;
    display: block;
}

.select-input__link:hover{
    color: var(--primary-color);
}

/* home pagination */

.home-pagination{
    


}
.home-pagination-list{
    display: flex;
    justify-content: center;
    align-items: center;


}
.home-pagination-item{
    list-style: none;

}

.home-pagination-item--active .home-pagination-link{
    background-color: var(--primary-color);
    color: var(--white-color);

}

.home-pagination-item--active .home-pagination-link:hover{
    opacity: 0.8;
}

.home-pagination-link{
    text-decoration: none;
    font-size: 2rem;
    display: block;
    min-width: 40px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    color: #999;
    margin: 0 16px;



}

.home-pagination-icon{
    font-size: 1.4rem;
    color: #999;
    margin: 0 24px;
    cursor: pointer;

}
