

/* **************** header ********************* */
/* sử dụng tính chất khối của thẻ  */

#header{
    height: var(--header-height);
    
    /* màu chuyển từ trên xuống dưới */
    background-image: linear-gradient(0,#fd6432,#f8492f);

}

/* tự động căn chỉnh theo grid đã có sẵn */
.header__navbar-grid{
    width: 1200px;
    /* khi kích thước nhỏ hơn 1200px thì tự động thành 100% kích thước mặt định */
    max-width: 100%;
    /* căn giữa khối này khi nằm trong khối khác */
    margin: 0 auto;

}

.header__navbar {
    display: flex;
    justify-content: space-between;
}


.header__navbar-list {
    /* loại bỏ thuộc tính mặt định của thẻ ul */
    padding-left: 0;
    list-style: none;
    /* điều chỉnh margin mặc định lại còn 4px(mặc định là 10px) */
    margin-top: 0.4rem;
    display: flex;
    align-items: center;
}

.header__navbar-list--has-qr:hover .header__qrcode{
    display: block;

}

.header__navbar-item {
    display: inline-block;
    margin: 0 0.8rem;
    position: relative;
    min-height: 2.6rem;
    
}

.header__navbar-link-connect{
    margin-left: 4px;
}



.header__navbar-item-link,
.header__navbar-item{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--white-color);
    font-weight: 350;
}

/* hover vào các thẻ */
.header__navbar-item-link:hover,
.header__navbar-link-icon:hover
{
    opacity: 0.8;
    cursor: pointer;
}

.header__navbar-link-icon{
    text-decoration: none;
    color: var(--white-color);

    
}

.header__navbar-link-icon{
    font-size: 1.6rem;
    margin-right: 0.8rem;
}


.header__navbar-user{
    display: flex;
    position: relative;  
}

.header__navbar-user:hover .header__user-list{
    display: block;
}


.header__navbar-user-img{
    width: 16px;
    height: 16px;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;

}
.header__navbar-user-name{
    font-size: 1.3rem;
    font-weight: 400;
    

}

.header__user-list{
    position: absolute;
    width: 150px;
    background-color: var(--white-color);
    list-style: none;
    right: 0;
    top: 100%;
    z-index: 1;
    padding-left: 0;
    /* padding: 10px 0 0 16px; */
    float: left;
    border: 1px solid #ccc;
    display: none;
    border-radius: 3px;
    animation: headerNotifyGrowth ease .2s ;
    transform-origin: calc(100% - 20px) top;
    box-shadow: 0 3px 2px #ccc;

}



.header__user-list::before{
    content: "";
    /* nên nhớ phải có thuộc tính absolute để di chuyển vị trí mình muốn */
    position: absolute;
    border-style: solid;
    /* Tạo dấu mũi tên bằng các màu trong suốt */
    border-color: transparent transparent var(--white-color) transparent;
    /* tăng kích cỡ của mũi tên để cái mũi bè ra hơn */
    border-width: 13px 18px;
    top: -25px;
    right: 6px;
}


/* làm cầu nối  */
.header__user-list::after{
    content: "";
    position: absolute;
    /* điều chỉnh vị trí mà mình cần làm cầu */
    border-width: 10px 40px;
    border-style: solid;
    /* sau khi điều chỉnh xong chỉnh về màu trong suốt */
    border-color: transparent;
    top: -15px;
    right: -1px;
}




.header__user-item{
    padding:12px 0 16px 12px;

}

.header__user-item:last-child{
    border-top:1px solid rgba(0, 0, 0, 0.2);
}


.header__user-item:hover{
    background-color: #efeeee;
    cursor: pointer;
    
}

.header__user-item:hover .header__user-link{
    color: var(--primary-color);
}


.header__user-link{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
}



/* header qr code */
.header__qrcode{
    background-color: var(--white-color);
    position: absolute;
    width: 186px;
    border-radius: 3px;
    padding: 8px;
    top: 115%;
    left: 0;
    display: none;
    /* hiệu ứng chuyển động */
    animation: fadIn ease-in .2s;
    z-index: 2;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1 );

}

/* tạo một biến giả để tạo cầu nối giữa 2 điểm */
.header__qrcode::before{
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__qrcode-img{
    width: 100%;

}
.header__qrcode-apps{
    display: flex;
    justify-content: space-between;

}


/* css vào đứa con đầu tiên trong thẻ  */
.header__qrcode-link:nth-child(1){
    margin-left: 11px;
}

/* css vào đứa con thứ 2 trên thẻ */
.header__qrcode-link:nth-child(2){
    margin-right: 11px;
}


.header__qrcode-dowload{
    /* ảnh nên chỉ có chiều cao  */
    height: 16px;

}


/*  header modifier */
.header__navbar-item-link--strong{
    font-weight: 500;
}

/* tạo dấu gạch bên trên header bằng modifier */
.header__navbar-item--separa::after{
    content: "";
    display: block;
    position: absolute;
    height: 1.5rem;
    border-left: 0.2rem solid #fb9086;
    top: 30%;
    right: -0.9rem;
    transform: translateY(-50%);

}


.header__navbar-item--disable{
    cursor: text;
    color: var(--white-color);
    
}

/* header - notify */

.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}


.header__notify{
    background-color: var(--white-color);
    position: absolute;
    width: 404px;
    top: 118%;
    right: 0;
    border-radius: 2px;
    /* đường viền ở bên ngoài */
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* thuộc tính giúp di chuyển dấu mũi tên ở vị trí mình cần */
    transform-origin: calc(100% - 34px) top;
    animation: headerNotifyGrowth ease .3s;
    /* dùng để tối ưu hóa chuyển động của các thuộc tính trong animation */
    will-change: opacity, transform;
    display: none;
    z-index: 2;

}

/* lớp giả để tạo dấu mũi tên */
.header__notify::before{
    content: "";
    /* nên nhớ phải có thuộc tính absolute để di chuyển vị trí mình muốn */
    position: absolute;
    border-style: solid;
    /* Tạo dấu mũi tên bằng các màu trong suốt */
    border-color: transparent transparent var(--white-color) transparent;
    /* tăng kích cỡ của mũi tên để cái mũi bè ra hơn */
    border-width: 20px 29px;
    /* điều chỉnh kích thước ứng với mong muốn của mình */
    top: -31px;
    right: -1px;
}

/* Tạo lớp giả để làm cầu nối */
.header__notify::after{
    content: "";
    position: absolute;

    /* điều chỉnh vị trí mà mình cần làm cầu */
    border-width: 10px 48px;
    border-style: solid;
    /* sau khi điều chỉnh xong chỉnh về màu trong suốt */
    border-color: transparent;
    top: -15px;
    right: -1px;

}

.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
    display: flex;
    /* di chuội vào là không hiện gì cả */
    user-select: none;

}
.header__notify-heading{
    color: #999;
    /* loại bỏ margin mặc định của thẻ h3  */
    margin: 0 0 0 12px;
    font-size: 1.4rem;
    align-self: center;
    font-weight: 300;
    

}
.header__notify-list{
    padding-left: 0;

}
.header__notify-items{
    list-style: none;

}

.header__notify-items:hover{
    background-color: #f1f1f1;
}

/* Thuộc tính cho màu nền */
.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.03);
}

.header__notify-link{
    text-decoration: none;
    display: flex;
    padding: 12px;
    width: 100%;
}
.header__notify-img{
    width: 48px;
    /* dùng cho ảnh chứa trong */
    object-fit: contain;
}

.header__notify-infor{
 margin-left: 1.2rem;
 
}

.header__notify-name{
    display: block;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.8rem;
    font-size: 1.5rem;
    opacity: 0.8;
}
/* Lưu ý chuyển thành block mới chỉnh được kích thước  */
.header__notify-describe{
    display: block;
    line-height: 1.4rem;
    font-size: 1.3rem;
    color: #756F6E;
    margin-top: 6px;
}
.header__notify-footer{
    text-align: center;
    padding: 12px;
}
.header__notify-footer-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
    
}


/* header__notify--language */

.header__notify--language{
    
    display: none;
    width: 250px;
    top: 106%;
    right: 8px;

}

/* lớp giả làm cầu nối kế thừa từ lớp giả ở trên */
.header__notify--language::after{
    /* điều chỉnh vị trí mà mình cần làm cầu */
    border-width: 10px 55px;
    top: -15px;
    right: -1px;
}
.header__notify-hover:hover{
    color: var(--primary-color) ;
}


/*  *******Modal ************8  */
.modal{
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
}
.modal__overlay{
    /* di chuyển chồng lên trên */
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    
    
    

}
.modal__body{
    /* điều chỉnh giá trị của biến */
    --growth-from: 0.7;
    --growth-to: 1;
    /* cố định 1 vị */
    position: relative;
    margin: auto;
    z-index: 1;
    /* thuộc tính động anmation linear là thả lên */
    animation: growth linear .2s;
    

}

/* auth body */

.auth-form{
    width: 500px;
    height: auto;
    background-color: var(--white-color);
    border-radius: 5px;
    /* khi thằng con vượt quá thằng cha thì ẩn đi */
    overflow: hidden;
}

.auth-form__container{
    padding: 0 28px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6px;
    padding: 0 12px;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--text-color);
}

.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}
.auth-form__form{
    margin-top: 10px;
}

.auth-form__group{
    margin-top: 16px;
}

.auth-form__input{
    width: 100%;
    padding: 10px 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    /* bỏ đi thuộc tính đường viền của bảng khi kích vào */
    outline: none;

}
/* focus khi kích vào dường viền sẽ đổi màu */
.auth-form__input:focus{
    border-color: #918987;
}

.auth-form__aside{
    padding: 4px 14px;
}

.auth-form__policy-text{
    font-size: 1.3rem;
    color: var(--text-color);
    text-align: center;
    font-weight: 500;
}
.auth-form__text-link{
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--primary-color);
    
}

.auth-form__control{
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 18px;
}

.auth-form-btn-back{
    margin-right: 12px;
}

.auth-form__social{
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
}

.btn.auth-form__social-facebook{
    background-color: #064875;
    color: var(--white-color);
}

.btn.auth-form__social-google{
    background-color: var(--white-color);
    color: #666;
}

.auth-form__social-facebook,
.btn.auth-form__social-google{
    display: flex;
    align-items: center;
}

.auth-form-icon{
    font-size: 1.8rem;

}

.auth-form-letter{
    margin: 0 28px;
    font-size: 1.2rem;
    font-weight: 400;
}
/* login form */
.auth-form__help{
    margin-top: 18px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
}

.auth-form__help-link-sapara{
    border: 1px solid #d4d3d3;
    margin: -3px 16px;
    height: 20px;
}
.auth-form-forget{
    color: var(--primary-color);
}
.auth-form-need-help{
    color: var(--text-color);
    opacity: 0.6;
}

/* header-with-search */

/* gán biết để set kích thước cho nó */
.header__with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    
}

.header__with-logo{
    width: 200px;
    height: auto;
   

}

.header__logo-link{
    text-decoration: none;
    border-color: transparent;
}

.header__logo-icon{
    width: 162px;
    margin-left: 16px;

}

.header__search{
    /* chiều dài đã là 100% nên chỉ cần mặc định chiều cao là được */
    height: 40px;
    background-color: var(--white-color);
    /* mặc định sẽ chiếm khoảng không còn lại */
    flex: 1;
    display: flex;
    align-items: center;
    border-radius: 3px;
    
}

.header__cart{
    width: 140px;
    text-align: center;
}

.header__cart-icon{
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 8px;
}

.header__search-input{
    
    height: 100%;
    /* border: none; */
    font-size: 1.4rem;
    padding-left: 16px;
    outline: none;
    border: none;

}

/* Thuộc tính lớp giả focus . lưu ý khi focus có sử dụng dấu ~ để thực thi  */
.header__search-input:focus ~ .header__history{
    display: block;

}

.header__search-select{
    border-left: 1px solid #ccc;
    padding: 0 4px 0 12px;
    /* Cái ngoài cố định */
    position: relative;
    cursor: pointer;
    
    

}
.header__search-select-lable{
    font-size: 1.4rem;
    color: var(--text-color);
    


}

.header__search-select-icon{
    font-size: 1.2rem;
    padding: 0 8px;
    color: #666;
    

}

.header__search-btn{
    height: 34px;
    width: 60px;
    border: none;
    margin-right: 3px;
    border-radius: 3px;
    background-color: var(--primary-color);


}
.header__search-btn{
    color: var(--white-color);
    font-size: 1.4rem;

}

.header__search-btn:hover{
    opacity: 0.9;
    cursor: pointer;
}

.header__search-option{
    /* Cái trong di chuyển được */
    position: absolute;
    /* mép phải bằng với cha */
    right: 0;
    /* Mép trên cố định */
    top: calc(100% + 3px);
    list-style: none;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px #ccc;
    /* Bỏ padding mặc định của thẻ ul */
    padding-left: 0;
    display: none;
    /* Thuộc tính di chuyển động */
    animation: fadIn ease-in .2s;
    border-radius: 3px;
    z-index: 1;
    

}
.header__search-option::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    top: -15px;
    left: 1px;
    
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-items{
    background-color: var(--white-color);
    padding: 8px 8px 10px 14px;
    border-radius: 3px;
    width: 130px;
}


.header__search-items:hover{
    background-color: #fafafa;
    cursor: pointer;
}



/* Biết chắc là chỉ dùng số ít -- không muốn đặt nhiều class nên css thẳng trực tiếp vào thẻ */
.header__search-items span{
    font-size: 1.4rem;
    color: var(--text-color);
    




}
/* Những thẻ có cả 2 thuộc tính mới hiển thị */
.header__search-items-active.header__search-items-icon{
    display: inline-block;
}

/* có đặt class nhưng mà không dùng -- dùng ri cho gọn đc */
.header__search-items i{
    font-size: 1.2rem;
    color: var(--primary-color);
    padding: 8px 12px 0 10px ;
    display: none;
}

/* History search */
.header__search-wrap{
    /* thẻ chiếm phần khoảng trống còn lại */
    flex: 1;
    /* Giá trị chiều cao bằng chiêu cao mặc định */
    height: 100%;
    position: relative;
}

.header__search-input{
    width: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.header__history{
    position: absolute;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    top: calc(100% + 2px);
    left: 0;
    border-radius: 3px;
    border: 1px solid #e0dddd;
    box-shadow: 0 2px 3px #ccc;
    display: none;
    z-index: 3;

    
}

.header__history-list{
 
    padding: 0;
    margin-bottom: 0;
}

.header__history-heading{
    margin: 8px 12px 0 12px;
    font-size: 1.4rem;
    color: #999999;
    font-weight: 400;
}

.header__history-item{
    list-style: none;
    padding: 12px 12px;
    margin-bottom: 0;
    
}

.header__history-item:hover{
    background-color: #d1d0d0;
    cursor: pointer;
}

.header__history-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
}


/* Header cart */

.header__cart{


}

.header__cart-notice{
    position: absolute;
    padding: 1px 7px;
    background-color: var(--white-color);
    font-size: 1.2rem;
    color: var(--primary-color);
    line-height: 1.4rem;
    border-radius: 10px;
    top: 6px;
    right: -6px;
    border: 2px solid#eb4726;

}

.header__cart-wrap{
    position: relative;
    display: inline-block;  
    padding: 6px;
    cursor: pointer;
   
}


.header__cart-wrap:hover .header__cart-list{
    display: block;
    
    
}



.header__cart-list{
position: absolute;
width:  300px;
right: -5px;
top: 100%;
background-color: var(--white-color);
border: 1px solid #ebe8e8;
box-shadow: 0 2px 2px #ccc;
border-radius: 3px;
display: none;
animation: headerNotifyGrowth ease .3s ;
transform-origin: calc(100% - 20px) top;
cursor: auto;
z-index: 1;


}

.header__cart-list::after{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 16px 20px;
    border-color: transparent transparent var(--white-color) transparent;
    top: -24px;
    right: 2px;
    cursor: pointer;

}


.header__cart-img{
    width: 60%;
    text-align: center;
    padding: 14px;
    display: none;
    
}
.header__cart-msg{
    display: block;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 450;
    margin: 20px 0;
    display: none;

    

}
/* no cart */
.header__cart-list--no-cart{
  margin-right: auto;
  margin-left: auto;
   

}
.header__cart-list--no-cart .header__cart-img,
.header__cart-list--no-cart .header__cart-msg
{
    display: block;
    /* muốn căn giữa theo kiểu margin thì phải margin vào thuộc tính con */
    margin-left: auto;
    margin-right: auto;
    
}

/* layout cart */

.header__cart-heading{
    text-align: left;
    margin: 8px 12px 12px 12px    ;
    color: #9a9a9a;
    font-size: 1.2rem;
    font-weight: 450;

}

.header__cart-list-item{
    margin: 12px 12px ;
    list-style: none;
    padding: 0;
    /* kích thước tối đa chỉ bằng 60% so với kích thước trình duyệt */
    max-height: 50vh;
    /* khi mà vượt quá trình sẽ trở thành thanh cuộn theo chiều dọc */
    overflow-y: scroll;

    


}
.header__cart-item{
    display: flex;
    margin-bottom: 18px;

}
.header__cart-item:hover{
    background-color: rgba(0, 0, 0, 0.05 );
}

.header__cart-item-img{
    width: auto;
    height: 40px;
    float: left;

}
.header__cart-item-infor{

    padding-left: 10px;
    width: 100%;


    


}
.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 2rem;
    margin-top: 0;
   

}
.header__cart-item-name{
    font-size: 1.2rem;
    font-weight: 450;
    /* h3 có margin mặc định  */
    margin: 0;
    max-height: 3.6rem;
    line-height: 1.8rem;
    overflow: hidden;
    text-align: left;
    /* chiếm phần dư còn lại */
    flex: 1;
    padding-right: 3px;
    display: block;
    /* tạo ra dấu ... khi dòng chữ dài quá */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}
.header__cart-item-price{
    color: var(--primary-color);
    font-weight: 450;

}
.header__cart-item-multiply{
    color: #aba9a9;
    padding: 0 4px;
    font-size: 1rem;


}
.header__cart-item-number{
    color: #888;

}
.header__cart-item-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin-top: 0;


}
.header__cart-item-decription{
    color: #888;

}
.header__cart-item-remove{
    color: var(--text-color);

}

.header__cart-item-btn{
    float: right;
    margin: 0 8px 8px 0;
    font-size: 1.2rem !important;
}

.header__cart-item-btn:hover{
    opacity: 0.9;
}


/* app__container */

#app__container{
    background-color: #f5f5f5;
}

.category{
    background-color: var(--white-color);
    border-radius: 3px;
   

}

.app__content{
    padding-top: 36px;
}

.category-heading-icon{
    padding-right: 6px;

}

.category-heading{
    margin: 0;
    padding: 16px;
    font-size: 1.6rem;
    color: var(--text-color);
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1 );

}
.category-list{
    list-style: none;
    font-size: 1.4rem;
    /* bỏ đi thuộc tính padding-left mặc định của thẻ ul */
    padding-left: 0;
    margin-top: 0;
    
}

.category-item--active .category-link{
    color: var(--primary-color);
    font-weight: 700;
    
    
}

/* thuộc tính có cả 2 class mới hiệu nghiệm */
.category-item--active .category-link::before{
    content: "";
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    top: 50%;
    left: -6px;
    transform: translateY(-50%);

}

.category-item{
    padding: 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1 );
    margin: 0 24px;
    
}

/* css vào người con cuối cùng của thẻ li */





.category-link{
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
    display: block;
    transition: right  linear .2s;
    right: 0;
    padding-left: 4px;
    
    

}

.category-link:hover{
    color: var(--primary-color);
    right: -4px;
}

.category-item--final{
    display: flex;
    align-items: center;
}

.category-link-icon{
    font-size: 1rem;
    padding-left: 8px;
    font-weight: 100;
    color: #666;
}




/* home-filter */

.home-filter{
    background-color: rgba(0, 0, 0, 0.05 );
    display: flex;
    align-items: center;
}

.home-filter-lable{
    font-size: 1.4rem;
    padding: 14px;
}

.home-filter-lable-btn{
    margin-right: 12px;
    /* chơi lầy :)) */
    min-width: 90px !important;
    
}

.home-select-lable{
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 500;
}

.home-filter__page{
    display: flex;
    /* Muốn đẩy hẳn sang phải */
    margin-left: auto;
    align-items: center;
    padding-right: 18px;
    
}
.hom-filter__num{
    padding: 0 18px;
    font-size: 1.4rem;
}

.home-filter--current{
    color: var(--primary-color);

}

.home-page-control{
    width: 64px;
    background-color: var(--white-color);
    height: 32px;
    display: flex;
    


}

.home-page-link{  
    display: flex;
    align-items: center;
    justify-content: center;
    /* chia khoảng cách thành 2 phần bằng nhau */
    flex: 1;
    text-decoration: none;

}

.home-page-link:first-child{
    border-right: 2px solid #eeec;
}




.home-page-icon{
    font-size: 1rem;
    color: var(--text-color);

}

.home-page-link-disable i{
    cursor: default;
    color: #b0aeae;
   
}
.home-page-link-disable{
    background-color: #e8e2e2;
    cursor: default;
}


/* produt -- item */


.home-product{
   margin: 10px 0 ;

}
.home-product-item{
    background-color: var(--white-color);
    position: relative;
    /* mặc định thẻ div là có tính chất khối -- đổi thành thẻ a thì thêm khối vào */
    display: block;
    text-decoration: none;
    box-shadow: 0 2px 0 2px rgba(0, 0, 0, 0.1 );
    border-radius: 3px;
    /* thuộc tính khai báo khi chuyển động thì animation cho cái gì
    nếu chuyển động liên quan đến thằng transform */
    transition: transform ease-in 0.1s;
    /* tối ưu trình duyệt khi có thuộc tính transform */
    will-change: transform;
    overflow: hidden;
    
}

.home-product-item:hover{
    /* khi di vào thì thuộc tính transform lên trên 1 đơn vị */
    transform: translateY(-1px);
    box-shadow: 0 1px 0 10px rgba(0, 0, 0, 0.05 );
}

.home-product-img{
    /* bằng với kích thước với thằng chứa nó */
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    


}
.home-product-heading{
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 12px 8px 2px 14px;
    line-height: 1.8rem;
    /* set chiểu ngang chỉ còn lại 2 dòng */
    height: 3.6rem;
    /* ẩn những thuộc tính chồi ra ngoài */
    overflow: hidden;
    /* tạo lại thành khối */
    display: block;
    /* chỉ chạy trên những core có webkit-box */
    display: -webkit-box;
    /* điều chỉnh theo chiều dọc */
    -webkit-box-orient: vertical;
    /* nếu chạy quá thì sẽ hiện thị dấu 3.. ở dòng thứ 2 */
    -webkit-line-clamp: 2;
    /* hành xử khi bị vượt quá là thêm dấu ... */
    /* text-overflow: ellipsis; */
    /* thuộc tính chạy quá nhưng chỉ được trong 1 dòng */
    /* white-space: nowrap; */
    

}
.home-product-price{
    display: flex;
    align-items: center;
    /* thuộc tính giúp khi vượt quá sẽ tự động xuống dòng */
    flex-wrap: wrap;
    line-height: 1.7rem;

}
.home-product-old{
    font-size: 1.2rem;
    color: #666;
    padding: 0 14px;
    text-decoration: line-through;

}
.home-product-current{
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 500;
    padding-left: 12px;

}

.home-product-item-action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 12px;

}

/* lớp mà có  2 thuộc tính này thì sẽ thực hiện ẩn trái tim không cảm xúc đi
vì có thuộc tính display là inline-block mặc định nên phải thêm thẻ i độ ưu tiên mới được ưu tiên */
.home-product-item-like--heart i.home-product-item-like-no-feel {
    display: none;

}

/* lớp mà có cả 2 thuộc tính này thì sẽ thực hiện hiện trái tim có cảm xúc ra */
.home-product-item-like--heart i.home-product-item-like-feel{
    display: block;
}


i.home-product-item-like-feel{
    display: none;

}
.home-product-item-like-no-feel{

}

.home-product-item-like{
    color: var(--primary-color);
    font-size: 1.2rem;

}
.home-product-item-rating{

    color:#c1bebe;
    font-size: 1rem;
    /* giảm nhỏ ngôi sao xuống còn 0.7rem */
    transform: scale(0.8);
    /* sử dụng thuộc tính này để đẩy sang trái màn hình */
    transform-origin: right;
    margin-left: auto;
    
}

.home-product-item-rating-color{
    color: var(--start-color);
}

.home-product-item-sold{
    /* tự động đẩy qua trái cho đến khi gặp khối khác chật lại */
     margin-left: 6px;
    font-size: 1.1rem;
    color: var(--text-color);
    font-weight: 450;

}

.home-product-item-origin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 12px;
    color: #777676;
    font-size: 1.2rem;
    font-weight: 350;

}
.home-product-item-brand{


}
.home-product-item-name{

}
.home-product-item-favourite{
    position: absolute;
    color: var(--primary-color);
    /* thuộc tính ăn theo màu hiện tại của thẻ -- chỉ cần thay đổi màu thì sẽ thay đổi tất cả các thuộc tính còn lại */
    background-color: currentColor;
    top:10px;
    left: -4px;
    display: flex;
    align-items: center;
    line-height: 1.6rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

}

.home-product-item-favourite::before{
    content: "";
    position: absolute;
    /* sử dụng màu là crrentcolor để khi thay đổi màu mặc định các màu khác cũng sẽ thay đổi theo */
    /* những hình như hình vẽ cần phải làm nhiều mới  biết chính xác được */
    border-top:3px solid currentColor;
    border-left:3px solid transparent ;
    top:16px;
    left: 0;
    /* thuộc tính giảm độ sáng so với thẻ hiện tại */
    filter: brightness(80%);
}

.home-product-item-favourite span{
    padding: 0 4px ;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--white-color);
    
}

.home-product-item-favourite-icon{
    padding-left: 4px;
    font-weight: 700;
    color: var(--white-color);

   
}
.home-product-item-sale-off{
    position: absolute;
    top:0;
    right: 0;
    width: 40px;
    height: 36px;
    /* màu trong suốt */
    color: rgba(255, 216, 61, 4) ;
    background-color: currentColor;
    text-align: center;
}

.home-product-item-sale-off::after{
    content: "";
    position: absolute;
    border-width: 0 20px 5px ;
    border-style:solid ;
    border-color: transparent  currentColor transparent  currentColor;
    top:36px;
    right: 0;


}

.home-product-item-sale-off-percent{
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: #e6351a;
    font-weight: 700;
    position: relative;
    top:3px

}
.home-product-item-sale-off-lable{

    font-size: 1.3rem;
    line-height: 1.3rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--white-color);
    position: relative;
    top:3px
}

.home-product--pagination{
    margin: 48px 0 64px 0;

}


/* footer */
#footer{
    border-top:  4px solid var(--primary-color);
    
    
}

.footer-heading{
    margin-top: 36px;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.footer-list{
    padding: 8px 0;
}

.footer-item{
    list-style: none;
}

.footer-item-link{
    text-decoration: none;
    display: block;
    font-size: 1.4rem;
    padding: 10px 0;
    color: #757575;
}

.footer-item-link:hover{
    color: var(--primary-color);
}

.footer-item-icon{
    font-size: 1.4rem;
    margin-right: 4px;
}

.footer-application{
    display: flex;
}

.footer-qr-code-img{
    max-height: 80px;
    border: 1px solid var(--border-color);
    margin-right: 8px;
}

.footer-apps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    
}
.footer-nameapp{
    margin: 8px 4px;
    max-height: 20px;

}
.footer-apps-link{
    text-decoration: none;
}

/* footer- final */
.footer-final{
    background-color: #f5f5f5;
    margin-top: 12px;

}

.footer-end-list{
    margin-top: 48px;
    padding-left: 0;
    display: flex;
    flex: 1;
    justify-content: center;
    


}
.footer-end-item{
    list-style: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 0 28px;
    position: relative;
   
    
}


.footer-end-item--separa::after{
    content: "";
    display: block;
    position: absolute;
    height: 1.5rem;
    border-left: 1px solid #dfdfdf;
    top: calc(50%  - 1px);
    right: 0;
    transform: translateY(-50%);
}

.footer-end-link{
    text-decoration: none;
    color: #707070;
    font-weight: 350;

}

.footer-end-list-images{
    margin-top: 36px;
    display: flex;
    justify-content: center;
}

.footer-end-list-link{
    margin: 0 24px;
   
}
.footer-end-list-link-img{
    min-width: 118px;
    height: 45px;
}

.footer-end-list-link-img-vantay{
    min-width: 55px;

}

.footer-end-list-title{
    text-align: center;
    margin-bottom: 28px;
}

.footer-end-list-title span{
    font-size: 1.2rem;
    color: var(--text-color);
   
}

.footer-end-list-content{
    text-align: center;
    font-size: 1.3rem;
    color:#757575 ;
    line-height: 2rem;

}

.footer-end-list-content-last{
    color: var(--text-color);
    padding-bottom: 24px;
    
}












